* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background: var(--wb-11);
  color: var(--wb-00);
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
}

.container {
  max-width: 1200px;
}