* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background: var(--wb-11);
  color: var(--wb-00);
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
}

.container {
  max-width: 1200px;
  display: flex;
  gap: 40px;
  padding: 40px;
  padding-top: 120px;
}

.intro-bg {
  background: var(--wb-12);
  height: 778px;
  max-height: 100%;
  box-shadow: inset 0px -220px var(--wb-00);
  display: grid;
  justify-content: center;
}